body{
background-color: bisque;
}
#Score{
font-size :30px;
margin-left: 70px;
}

#Timer{
    font-size :30px;
    margin-right: 115px;
    float: right;
    }

#Sketch_to_be_drawn{
    color: red;
    font-size: 20px;
}